/** 
* Description: Sample theme for site which extends the Lydia grid-theme.
*/
@import url(../../../themes/muffin-core/style.css);

table{
	text-align:center;
	width:800px;
}

thead th{
	text-align: center;
}